@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --amarelo: #f9e64d; /* Amarelo */
    --marrom-claro: #d1b06e; /* Marrom claro */
    --marrom: #a58f5b; /* Tom mais escuro de marrom */
    --preto: #000000;
    --fonte-titulo: "M PLUS Rounded 1c", sans-serif;
    --fonte-texto: "Cinzel", serif;
}

body {
    background-color: var(--amarelo);
    font-family: var(--fonte-texto);
    color: var(--preto);
    height: 100vh;
}

header {
    background-color: var(--marrom-claro);
    text-align: center;
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--marrom);
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--preto);
    font-size: 2rem;
    margin: 0 2rem 1rem 0;
}

nav a:hover {
    text-transform: underline;
    color: var(--marrom);
    transform: scale(0.9);
    transition: transform 0.3s;
}

.caixa-grafico {
    margin: 5rem;
    font-size: 1.5rem;
    background-color: var(--marrom-claro);
    padding: 2rem;
    border-radius: 15px;
    border: var(--preto) double 5px;
}

.caixa-grafico__texto {
    font-size: 1.5rem;
    padding: 2em 0 2.5em 0;
}

span {
    font-family: var(--fonte-titulo);
    color: var(--preto);
    font-size: 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--marrom-claro);
    color: var(--marrom);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.8rem;
}
